twitter_api_key: xxxxxxxxxxxxxxxxxxxxxxxxx
twitter_api_secret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
monkeylearn_api_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
monkeylearn_classifier: xxxxxxxxxxx
